.feed-form {
  margin-top: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  input {
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    margin-top: 15px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 300;
    color: #4b4b4b;
  }
}