@import 'variables';
@import 'mixins';
@import 'titles';
@import 'forms';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'media';

* {
  font-family: 'Museo', sans-serif;
}

h1, h2 {
  margin-bottom: 0;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}