@import 'variables';
@import 'mixins';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'media';


* {
  font-family: 'Museo', sans-serif;
}

h1, h2 {
  margin-bottom: 0;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

.section {
  &__title {
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
  }
}