.advantages {
  min-height: 470px;
  padding: 70px 0 78px 0;
  background-color: #f6f6f6;
    
  &__wrapper {
    padding-top: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__item {
    width: 245px;
    text-align: center;
  }

  &__icon {
    width: 70px;
    margin: 0 auto;
    img {
      width: 100%;
    }
    &_animate {
      animation:heartbeat 1s ease infinite;
      // animation-name: heartbeat;
      // animation-duration: 1s;
      // animation-timing-function: ease;
      // animation-iteration-count: infinite;
      &:hover {
        animation-play-state: paused;
      }
    }
  }

  &__title {
    margin-top: 38px;
    color: #0d0d0d;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
  }

  &__text {
    margin-top: 26px;
    color: #0d0d0d;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    a {
      color: #ff0000;
      text-decoration: underline;
      text-transform: uppercase;
    }
  }

}